@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoe ui regular.ttf"); }
  
@font-face {
    font-family: "Segoe UI light";
    src: url("../fonts/segoe ui light.ttf");}
  
@font-face {
    font-family: "Segoe UI bold";
    src: url("../fonts/segoe ui bold.ttf");}
  
@font-face {
    font-family: "Segoe UI semibold";
    src: url("../fonts/segoe ui semibold.ttf"); }